$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

.addBtn {
  margin: 10px;
  padding: 12px;
  outline: none;
  border: 2px solid $dark;
  border-radius: 5px;

  background-color: transparent;
  color: $dark;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: $dark;
    color: $white;
    cursor: pointer;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.modalText {
  margin: 0;
  font-size: 1.5rem;

  b {
    color: $dark;
  }
}

.modalTitle {
  color: $dark;
  margin: 0;
  font-size: 2rem;
}

.addInput {
  width: 95%;
  padding: 10px;
  margin: 10px 0px;
  outline: none;

  font-size: 18px;
  border: 2px solid $dark;
  color: $dark;
}

.addButton {
  margin: 10px 0px;
  padding: 10px 15px;
  outline: none;
  border: 2px solid $dark;

  background-color: transparent;
  color: $dark;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: $dark;
    color: $white;
    cursor: pointer;
  }
}

.box {
  flex: 1 0 40%;
  padding: 0px 20px;
  margin: 10px;
  height: 120px;
  border-radius: 20px;
  background-color: #c7f0bc;

  div {
    height: 120px;
    display: inline-block;
  }

  button {
    font-size: 18px;
    color: $dark;
    padding: 0px;

    border: none;
    border-bottom: 2px dotted;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  h1 {
    font-size: 26px;
    line-height: 1;
    margin: 20px 0px 10px 0px;
  }

  img {
    border-radius: 50%;
    margin-right: 20px;
    height: 90px;
    width: 90px;
  }
}

.imgBox {
  vertical-align: middle;
}
