$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

.sectionTitle {
  width: 100%;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
}

.selectForm {
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: block;

  div {
    padding: 10px 10px 10px 10px;
    min-width: 120px;
    background-color: transparent;
  }
}
