$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

.buttonDiv {
  margin-top: 50px;

  button {
    margin-right: 15px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid $dark;

    background-color: transparent;
    color: $dark;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: $dark;
      color: $white;
      cursor: pointer;
    }
  }
}

.infoDiv {
  display: inline-block;
  min-width: 350px;
  margin-right: 40px;

  p {
    line-height: 1;
  }
}

.infoDivLogo {
  display: inline-block;
  min-width: 200px;
}

.modalText {
  margin: 0;
  font-size: 1.5rem;

  b {
    color: $dark;
  }
}

.modalTitle {
  color: $dark;
  margin: 0;
  font-size: 2rem;
}

.addInput {
  width: 95%;
  padding: 10px;
  margin: 10px 0px;
  outline: none;

  font-size: 18px;
  border: 2px solid $dark;
  color: $dark;
}

.addButton {
  margin: 10px 0px;
  padding: 10px 15px;
  outline: none;
  border: 2px solid $dark;

  background-color: transparent;
  color: $dark;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: $dark;
    color: $white;
    cursor: pointer;
  }
}
