$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

.loginForm {
  position: relative;
  text-align: center;

  h1 {
    margin-bottom: 100px;
  }

  input {
    display: block;
    width: 30%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid $dark;

    margin-left: auto;
    margin-right: auto;
  }

  button {
    width: 15%;
    padding: 10px;
    font-size: 20px;

    border: 5px solid $green;
    border-radius: none;

    background-color: $green;
    color: $dark;
    font-weight: bold;

    margin: 30px auto;

    &:hover {
      background-color: transparent;
      cursor: pointer;
    }
  }

  p {
    color: $red;
    font-weight: bold;
  }
}
