$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

.card {
  flex: 0 1 calc(30% - 10px); /* <-- adjusting for margin */
  text-align: center;
  border-radius: 10px;
  background-color: $white;
  color: $dark;
  padding: 10px;
  margin: 10px;

  button {
    width: 100%;
    height: 60px;
    background: $green;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
  }

  h1 {
    font-size: 35px;
    text-transform: capitalize;
  }
}
