$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

@mixin input() {
  height: 50px;
  font-size: 24px;
  background-color: $white;
  border: none;
  border-radius: 0px;
  outline: none;
}

.registrerForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 50px 0px 0px 0px;
}

.inputField {
  @include input();
  width: 45%;
  margin: 10px;
}

.velgKjonn {
  display: block;
  @include input();
}
