$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

@mixin input($bg-color) {
  height: 60px;
  font-size: 35px;
  text-transform: capitalize;
  background-color: $bg-color;
  color: $dark;
  border: none;
  border-radius: 0px;
  outline: none;
  padding: 10px;
}

.registrerForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 50px 0px 0px 0px;
}

.inputField {
  @include input($white);

  width: 100%;
  margin: 10px;
  -webkit-appearance: none;
}

.container {
  display: flex;
  width: 100%;
  padding: 0px;
  text-align: center;

  label {
    @include input(#b5b6bd);
    margin: 10px;
    width: 100%;

    &:hover {
      background-color: $green;
    }
  }
}

.velgKjonn {
  opacity: 0;
  display: none;

  &:checked + label {
    background-color: $green;
    border-color: $green;
  }
}

.button {
  width: 50%;
  margin: 50px 0px;
  padding: 20px;

  background: transparent;
  border: 6px solid $green;

  color: $green;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;

  &:focus,
  &:active,
  &:hover {
    background: $green;
    color: $dark;
  }
}
