$dark: #0f152d;
$white: #f1f2fa;
$red: #fa8a8a;
$green: #a6d89b;
$beige: #ecbfa0;

@mixin input() {
  height: 60px;
  font-size: 35px;
  background-color: $white;
  color: $dark;
  border: none;
  border-radius: 0px;
  outline: none;
  padding: 10px;
}

.registrerForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 50px 0px 0px 0px;
}

.inputField {
  @include input();
  width: 45%;
  margin: 10px;
  -webkit-appearance: none;
}

.velgKjonn {
  display: inline;
  @include input();
}

.registrerKjonn {
  @include input();

  display: block;
  width: 95%;
  margin: 10px;
}

.button {
  width: 50%;
  margin: 50px 0px;
  padding: 20px;

  background: transparent;
  border: 6px solid $green;

  color: $green;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
